<a href="https://colab.research.google.com/github/buddhasatta/30-Days-Of-Python/blob/master/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 5.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=f131c971d02357235f13446cbaffc0f0042ed0d8adf92c705c2c94f868e1bbe7
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName("machine learning library").getOrCreate()

In [4]:
df=spark.read.csv("/content/sample_data/sample_data.csv",inferSchema=True,header=True)

In [8]:
df.columns

['ratings', 'age', 'experience', 'family', 'mobile']

In [9]:
len(df.columns)

5

In [11]:
df.count()

33

In [18]:
print(df.count(),len(df.columns))

33 5

In [19]:
df.printSchema()

root
 |-- ratings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: double (nullable = true)
 |-- family: integer (nullable = true)
 |-- mobile: string (nullable = true)

In [21]:
df.show()

+-------+---+----------+------+-------+
|ratings|age|experience|family| mobile|
+-------+---+----------+------+-------+
|      3| 32|       9.0|     3|   Vivo|
|      3| 27|      13.0|     3|  Apple|
|      4| 22|       2.5|     0|Samsung|
|      4| 37|      16.5|     4|  Apple|
|      5| 27|       9.0|     1|     MI|
|      4| 27|       9.0|     0|   Oppo|
|      5| 37|      23.0|     5|   Vivo|
|      5| 37|      23.0|     5|Samsung|
|      3| 22|       2.5|     0|  Apple|
|      3| 27|       6.0|     0|     MI|
|      2| 27|       6.0|     2|   Oppo|
|      5| 27|       6.0|     2|Samsung|
|      3| 37|      16.5|     5|  Apple|
|      5| 27|       6.0|     0|     MI|
|      4| 22|       6.0|     1|   Oppo|
|      4| 37|       9.0|     2|Samsung|
|      4| 27|       6.0|     1|  Apple|
|      1| 37|      23.0|     5|     MI|
|      2| 42|      23.0|     2|   Oppo|
|      4| 37|       6.0|     0|   Vivo|
+-------+---+----------+------+-------+
only showing top 20 rows

In [23]:
df.select("age","experience").show(10)

+---+----------+
|age|experience|
+---+----------+
| 32|       9.0|
| 27|      13.0|
| 22|       2.5|
| 37|      16.5|
| 27|       9.0|
| 27|       9.0|
| 37|      23.0|
| 37|      23.0|
| 22|       2.5|
| 27|       6.0|
+---+----------+
only showing top 10 rows

In [24]:
df.describe().show()

+-------+------------------+------------------+------------------+------------------+------+
|summary|           ratings|               age|        experience|            family|mobile|
+-------+------------------+------------------+------------------+------------------+------+
|  count|                33|                33|                33|                33|    33|
|   mean|3.5757575757575757|30.484848484848484|10.303030303030303|1.8181818181818181|  null|
| stddev|1.1188806636071336|  6.18527087180309| 6.770731351213326|1.8448330794164254|  null|
|    min|                 1|                22|               2.5|                 0| Apple|
|    max|                 5|                42|              23.0|                 5|  Vivo|
+-------+------------------+------------------+------------------+------------------+------+

In [34]:
# df.withColumn("age_Plus_10_years",(df[age]`+10`)).sho
df.withColumn("age_plus_10_years",(df["age"]+10)).show()

+-------+---+----------+------+-------+-----------------+
|ratings|age|experience|family| mobile|age_plus_10_years|
+-------+---+----------+------+-------+-----------------+
|      3| 32|       9.0|     3|   Vivo|               42|
|      3| 27|      13.0|     3|  Apple|               37|
|      4| 22|       2.5|     0|Samsung|               32|
|      4| 37|      16.5|     4|  Apple|               47|
|      5| 27|       9.0|     1|     MI|               37|
|      4| 27|       9.0|     0|   Oppo|               37|
|      5| 37|      23.0|     5|   Vivo|               47|
|      5| 37|      23.0|     5|Samsung|               47|
|      3| 22|       2.5|     0|  Apple|               32|
|      3| 27|       6.0|     0|     MI|               37|
|      2| 27|       6.0|     2|   Oppo|               37|
|      5| 27|       6.0|     2|Samsung|               37|
|      3| 37|      16.5|     5|  Apple|               47|
|      5| 27|       6.0|     0|     MI|               37|
|      4| 22|       6.0|     1|   Oppo|               32|
|      4| 37|       9.0|     2|Samsung|               47|
|      4| 27|       6.0|     1|  Apple|               37|
|      1| 37|      23.0|     5|     MI|               47|
|      2| 42|      23.0|     2|   Oppo|               52|
|      4| 37|       6.0|     0|   Vivo|               47|
+-------+---+----------+------+-------+-----------------+
only showing top 20 rows

In [36]:
df.withColumn("age_plus_10_years",(df["age"]+10)).show(10)

+-------+---+----------+------+-------+-----------------+
|ratings|age|experience|family| mobile|age_plus_10_years|
+-------+---+----------+------+-------+-----------------+
|      3| 32|       9.0|     3|   Vivo|               42|
|      3| 27|      13.0|     3|  Apple|               37|
|      4| 22|       2.5|     0|Samsung|               32|
|      4| 37|      16.5|     4|  Apple|               47|
|      5| 27|       9.0|     1|     MI|               37|
|      4| 27|       9.0|     0|   Oppo|               37|
|      5| 37|      23.0|     5|   Vivo|               47|
|      5| 37|      23.0|     5|Samsung|               47|
|      3| 22|       2.5|     0|  Apple|               32|
|      3| 27|       6.0|     0|     MI|               37|
+-------+---+----------+------+-------+-----------------+
only showing top 10 rows

In [42]:
df.filter(df["mobile"]=="Vivo").show()

+-------+---+----------+------+------+
|ratings|age|experience|family|mobile|
+-------+---+----------+------+------+
|      3| 32|       9.0|     3|  Vivo|
|      5| 37|      23.0|     5|  Vivo|
|      4| 37|       6.0|     0|  Vivo|
|      5| 37|      13.0|     1|  Vivo|
|      4| 37|       6.0|     0|  Vivo|
+-------+---+----------+------+------+

In [43]:
df.filter(df["mobile"]=="Vivo").filter(df["age"]>30).show()

+-------+---+----------+------+------+
|ratings|age|experience|family|mobile|
+-------+---+----------+------+------+
|      3| 32|       9.0|     3|  Vivo|
|      5| 37|      23.0|     5|  Vivo|
|      4| 37|       6.0|     0|  Vivo|
|      5| 37|      13.0|     1|  Vivo|
|      4| 37|       6.0|     0|  Vivo|
+-------+---+----------+------+------+

In [56]:


df.filter((df['mobile']=='Vivo')&(df['experience'] >10)).show()

+-------+---+----------+------+------+
|ratings|age|experience|family|mobile|
+-------+---+----------+------+------+
|      5| 37|      23.0|     5|  Vivo|
|      5| 37|      13.0|     1|  Vivo|
+-------+---+----------+------+------+

In [62]:
df.select('mobile').distinct()

DataFrame[mobile: string]

In [63]:
df.groupBy('mobile').count().show()

+-------+-----+
| mobile|count|
+-------+-----+
|     MI|    8|
|   Oppo|    7|
|Samsung|    6|
|   Vivo|    5|
|  Apple|    7|
+-------+-----+

In [64]:
df.groupBy('age').mean().show()

+---+------------------+--------+-----------------+-----------+
|age|      avg(ratings)|avg(age)|  avg(experience)|avg(family)|
+---+------------------+--------+-----------------+-----------+
| 27|3.5714285714285716|    27.0|6.892857142857143|        1.0|
| 22|               4.0|    22.0|              3.9|        0.4|
| 37|               3.8|    37.0|            15.25|        3.2|
| 32|               2.5|    32.0|            12.75|        2.5|
| 42|               2.5|    42.0|             23.0|        3.5|
+---+------------------+--------+-----------------+-----------+

In [66]:
df.groupBy("experience").mean().show()

+----------+------------------+-----------------+---------------+------------------+
|experience|      avg(ratings)|         avg(age)|avg(experience)|       avg(family)|
+----------+------------------+-----------------+---------------+------------------+
|      16.5|               3.0|            35.75|           16.5|               4.0|
|       2.5|              4.25|            23.25|            2.5|               0.0|
|      23.0|               3.2|             39.0|           23.0|               4.4|
|      13.0|               4.0|             32.0|           13.0|               2.0|
|       6.0|3.6153846153846154|27.76923076923077|            6.0|0.7692307692307693|
|       9.0|               3.6|             30.0|            9.0|               1.6|
+----------+------------------+-----------------+---------------+------------------+

In [74]:
df.groupBy("mobile").agg({"age":"sum"}).show()

+-------+--------+
| mobile|sum(age)|
+-------+--------+
|     MI|     241|
|   Oppo|     199|
|Samsung|     172|
|   Vivo|     180|
|  Apple|     214|
+-------+--------+

In [76]:
df.columns()

['ratings', 'age', 'experience', 'family', 'mobile']

In [106]:
def price_range(brand):
  if brand in ["Samsung","Apple"]:
    return "high price"
  elif brand =="VivO":
    return "medium price"
  else:
    return "low price"

In [107]:
brand_udf=udf(price_range,StringType())

In [109]:
df.withColumn("price_range",brand_udf(df["mobile"])).show()

+-------+---+----------+------+-------+-----------+
|ratings|age|experience|family| mobile|price_range|
+-------+---+----------+------+-------+-----------+
|      3| 32|       9.0|     3|   Vivo|  low price|
|      3| 27|      13.0|     3|  Apple| high price|
|      4| 22|       2.5|     0|Samsung| high price|
|      4| 37|      16.5|     4|  Apple| high price|
|      5| 27|       9.0|     1|     MI|  low price|
|      4| 27|       9.0|     0|   Oppo|  low price|
|      5| 37|      23.0|     5|   Vivo|  low price|
|      5| 37|      23.0|     5|Samsung| high price|
|      3| 22|       2.5|     0|  Apple| high price|
|      3| 27|       6.0|     0|     MI|  low price|
|      2| 27|       6.0|     2|   Oppo|  low price|
|      5| 27|       6.0|     2|Samsung| high price|
|      3| 37|      16.5|     5|  Apple| high price|
|      5| 27|       6.0|     0|     MI|  low price|
|      4| 22|       6.0|     1|   Oppo|  low price|
|      4| 37|       9.0|     2|Samsung| high price|
|      4| 27|       6.0|     1|  Apple| high price|
|      1| 37|      23.0|     5|     MI|  low price|
|      2| 42|      23.0|     2|   Oppo|  low price|
|      4| 37|       6.0|     0|   Vivo|  low price|
+-------+---+----------+------+-------+-----------+
only showing top 20 rows

In [137]:
age_udf=udf(lambda age : "senior " if age>10 else "Junior")

In [118]:
df.withColumn("age_level",age_udf(df["age"])).show()

+-------+---+----------+------+-------+---------+
|ratings|age|experience|family| mobile|age_level|
+-------+---+----------+------+-------+---------+
|      3| 32|       9.0|     3|   Vivo|  senior |
|      3| 27|      13.0|     3|  Apple|  senior |
|      4| 22|       2.5|     0|Samsung|  senior |
|      4| 37|      16.5|     4|  Apple|  senior |
|      5| 27|       9.0|     1|     MI|  senior |
|      4| 27|       9.0|     0|   Oppo|  senior |
|      5| 37|      23.0|     5|   Vivo|  senior |
|      5| 37|      23.0|     5|Samsung|  senior |
|      3| 22|       2.5|     0|  Apple|  senior |
|      3| 27|       6.0|     0|     MI|  senior |
|      2| 27|       6.0|     2|   Oppo|  senior |
|      5| 27|       6.0|     2|Samsung|  senior |
|      3| 37|      16.5|     5|  Apple|  senior |
|      5| 27|       6.0|     0|     MI|  senior |
|      4| 22|       6.0|     1|   Oppo|  senior |
|      4| 37|       9.0|     2|Samsung|  senior |
|      4| 27|       6.0|     1|  Apple|  senior |
|      1| 37|      23.0|     5|     MI|  senior |
|      2| 42|      23.0|     2|   Oppo|  senior |
|      4| 37|       6.0|     0|   Vivo|  senior |
+-------+---+----------+------+-------+---------+
only showing top 20 rows

In [138]:
from pyspark.sql.functions import pandas_udf

In [139]:
from pyspark.sql.functions import  udf
from pyspark.sql.types import *

In [135]:


def age_left(age):
  return (100-age)
age_left_pd_udf=pandas_udf(age_left,IntegerType())

In [136]:
df.withColumn("age_left",age_left(df["age"])).show()

+-------+---+----------+------+-------+--------+
|ratings|age|experience|family| mobile|age_left|
+-------+---+----------+------+-------+--------+
|      3| 32|       9.0|     3|   Vivo|      68|
|      3| 27|      13.0|     3|  Apple|      73|
|      4| 22|       2.5|     0|Samsung|      78|
|      4| 37|      16.5|     4|  Apple|      63|
|      5| 27|       9.0|     1|     MI|      73|
|      4| 27|       9.0|     0|   Oppo|      73|
|      5| 37|      23.0|     5|   Vivo|      63|
|      5| 37|      23.0|     5|Samsung|      63|
|      3| 22|       2.5|     0|  Apple|      78|
|      3| 27|       6.0|     0|     MI|      73|
|      2| 27|       6.0|     2|   Oppo|      73|
|      5| 27|       6.0|     2|Samsung|      73|
|      3| 37|      16.5|     5|  Apple|      63|
|      5| 27|       6.0|     0|     MI|      73|
|      4| 22|       6.0|     1|   Oppo|      78|
|      4| 37|       9.0|     2|Samsung|      63|
|      4| 27|       6.0|     1|  Apple|      73|
|      1| 37|      23.0|     5|     MI|      63|
|      2| 42|      23.0|     2|   Oppo|      58|
|      4| 37|       6.0|     0|   Vivo|      63|
+-------+---+----------+------+-------+--------+
only showing top 20 rows

In [140]:
def Complete_experience(age,experience):
  return(age*experience)

In [147]:
complete_experience_udf=pandas_udf(Complete_experience,DoubleType())

In [148]:
df.withColumn("complete_experiene",complete_experience_udf(df["age"],df["experience"])).show()

+-------+---+----------+------+-------+------------------+
|ratings|age|experience|family| mobile|complete_experiene|
+-------+---+----------+------+-------+------------------+
|      3| 32|       9.0|     3|   Vivo|             288.0|
|      3| 27|      13.0|     3|  Apple|             351.0|
|      4| 22|       2.5|     0|Samsung|              55.0|
|      4| 37|      16.5|     4|  Apple|             610.5|
|      5| 27|       9.0|     1|     MI|             243.0|
|      4| 27|       9.0|     0|   Oppo|             243.0|
|      5| 37|      23.0|     5|   Vivo|             851.0|
|      5| 37|      23.0|     5|Samsung|             851.0|
|      3| 22|       2.5|     0|  Apple|              55.0|
|      3| 27|       6.0|     0|     MI|             162.0|
|      2| 27|       6.0|     2|   Oppo|             162.0|
|      5| 27|       6.0|     2|Samsung|             162.0|
|      3| 37|      16.5|     5|  Apple|             610.5|
|      5| 27|       6.0|     0|     MI|             162.0|
|      4| 22|       6.0|     1|   Oppo|             132.0|
|      4| 37|       9.0|     2|Samsung|             333.0|
|      4| 27|       6.0|     1|  Apple|             162.0|
|      1| 37|      23.0|     5|     MI|             851.0|
|      2| 42|      23.0|     2|   Oppo|             966.0|
|      4| 37|       6.0|     0|   Vivo|             222.0|
+-------+---+----------+------+-------+------------------+
only showing top 20 rows

In [149]:
df.count()

33

In [150]:
df.dropDuplicates()

DataFrame[ratings: int, age: int, experience: double, family: int, mobile: string]

In [151]:
df.count()

33

In [152]:
df_without_mobile=df.drop(df["mobile"])

In [154]:
df_without_mobile.show()

+-------+---+----------+------+
|ratings|age|experience|family|
+-------+---+----------+------+
|      3| 32|       9.0|     3|
|      3| 27|      13.0|     3|
|      4| 22|       2.5|     0|
|      4| 37|      16.5|     4|
|      5| 27|       9.0|     1|
|      4| 27|       9.0|     0|
|      5| 37|      23.0|     5|
|      5| 37|      23.0|     5|
|      3| 22|       2.5|     0|
|      3| 27|       6.0|     0|
|      2| 27|       6.0|     2|
|      5| 27|       6.0|     2|
|      3| 37|      16.5|     5|
|      5| 27|       6.0|     0|
|      4| 22|       6.0|     1|
|      4| 37|       9.0|     2|
|      4| 27|       6.0|     1|
|      1| 37|      23.0|     5|
|      2| 42|      23.0|     2|
|      4| 37|       6.0|     0|
+-------+---+----------+------+
only showing top 20 rows

In [162]:
df.coalesce(2).write.format("csv").option("header","true").save('/content/sample_data/sample_data3.csv')

In [166]:
df.write.format("parquet").save('/content/sample_data/sample_data4.csv')